.container {
    display: flex;
    flex-direction: column;
    height: 100vh;;

    main {
        background-color: #f0eff0;
        justify-content: center;
        padding: 120px;
        flex-grow: 1;
    }
}

@media (max-width: 600px) {
    .container{
        main{
            padding: 20px;
        }
    }
}